# ===== Brokers =====
RABBITMQ_USER=rutaexpress
RABBITMQ_PASS=changeme
RABBITMQ_PORT=5672
RABBITMQ_MGMT_PORT=15672

KAFKA_PORT=9092

# ===== Base de datos (PostgreSQL) =====
POSTGRES_USER=rutaexpress
POSTGRES_PASSWORD=changeme
POSTGRES_PORT=5432

# ===== Spring =====
# Perfiles activos en Docker. Usar "prod" (PostgreSQL) y agregar "secure" para JWT obligatorio.
SPRING_PROFILES_ACTIVE=prod

# ===== Azure AD (IDaaS) =====
AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
AZURE_API_SCOPE=api://rutaexpress/access_as_user

# ===== Despliegue =====
EC2_HOST=
EC2_USER=ec2-user
